.login-page {
    width: 100%;
    height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1487124504955-e42a39e11aaf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1312&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    padding: 0;
    margin: 0;
    background-color: rgba(238, 227, 227), .5 ;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-inputs {
    width: 300px;
    height: 300px;
    background: white;
    border: solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 50px;

}


.signup-page {
    width: 100%;
    height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1487124504955-e42a39e11aaf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1312&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    padding: 0;
    margin: 0;
    background-color: rgba(238, 227, 227), .5 ;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

#signup-info {
    width: 300px;
    height: 300px;
    background: white;
    border: solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;  
    margin-top: 30px; 
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.signup-inputs {
    margin: 20px auto;
}

/* .baker-dashboard-background {
    width: 100%;
    height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1553349450-07e2d4d792de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2853&q=80');
    
    background-size: cover;
    object-fit: scale-down;
    background-color: rgba(158, 149, 149, 0.5) ;
    background-blend-mode: lighten;
    margin: 0;
    padding: 0;
} */

#baker-button-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.baker-buttons {
    background-color: #696464;
    width: 100px;
    color: white;
    padding: 3px;
    margin: 10%;
    height: 7%;
    width: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.baker-products-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    
}


.baker-product-container {
    width: 350px;
    border: solid #696464;
    box-shadow: 3px 3px 3px #696464;
    border-width: thin;
    overflow: hidden;
    border-radius: 4px;
    background-color: white;
    margin: 10px 0 10px;
    

}

.baker-product-container> img {
    position: relative;
    float: left;
    width:  350px;
    height: 375px;
    background-position: center center;
    background-repeat:   no-repeat;
    /* background-size:     cover; */
    overflow: hidden;
    margin-bottom: 7px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;

}
/* .dash-img {
    position: relative;
    float: left;
    width:  100%;
    height: 60%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  } */

  .baker-details-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 5px 0 8px 8px;
}


.fa-plus-square {
    font-size: 50px;
    color: gray;
    display: flex;
    justify-content: space-around;
    margin: 30px 5px 30px;
}

.add-product-container {
    width: 350px;
    /* height: 500px; */
    box-shadow: 3px 3px 3px #696464;
    margin: 4px;
    border: solid #696464; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-background {
    background-image: url('https://images.unsplash.com/photo-1553349450-07e2d4d792de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80');
    background-size: cover;
    background-repeat: none;
    width: 100%;
    height: 90vh;
    background-color: rgba(248, 245, 245, 0.5);
    background-blend-mode: lighten;
    
}

.add-product-container > input {
    width: 50%;
    height: 50%;
}

.normal-btn {
    background-color: #696464;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    box-shadow: 2px 2px gray;
    text-decoration: none;
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.profile-container {
    width: 60%;
    background-color: white;
    border: solid darkgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;  
    padding: 10px; 
}

.profile-details-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 40px 0 40px;
    font-size: 20px;

}
.profile-upload-container {
    width: 350px;
    height: 300px;
    border: solid gray;
    
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;


}

@media (max-width: 500px) {
    .profile-container {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0;
    }

    .profile-details-container {
        width: 100%;
        margin-left: 10%;
    }
    .profile-upload-container {
        width: 90%;
        align-content: center;
        margin-left: 10%;
        

    }
}
.tab-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 5px;
    
}
.normal-btn:hover {
    background-color: #a39f9f;
}
.tab-btn {
    background-color:  #696464;
    color: white;
    width: 100%;
    
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    box-shadow: 2px 2px gray;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.tab-btn:hover {
   background-color:  #a39f9f; 
}

.tab-list {
    border-bottom: 1px solid #696464;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}


.profile-input {
    
  width: 70%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.add-product-input {
  width: 80%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profile-page-img {
    width: 200px;
    height: 200px;
    
    overflow: hidden;
}
.profile-img {
    width: 200px;
    height: 200px;    
}
.page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input{
	width:4em;
	padding:0.5em 1em;
}
.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}