.products-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    width: 170px;
    height: 400px;
    box-shadow: 3px 3px 3px #696464;
    margin: 4px;
    
}

/* .product-container > img {
    width: 170px;    
} */

.dash-img {
    position: relative;
    float: left;
    width:  100%;
    height: 60%;
    background-position: center center;
    background-repeat:   no-repeat;
    /* background-size:     cover; */
    overflow: hidden;
}
.profile-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    /* border: solid black; */
    object-fit: none;
    overflow: hidden;
}

.baker-info {
    width: 170px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.baker-info>img {
    height: 50px;
    width: 50px;
    width: 50%;
    background-position: center center;
    overflow: hidden;
    border-radius: 50%;
}
#modal-div {
    display: flex;
    flex-direction: row;

}

.modal-img {
    max-width: 150px;
    height: auto;

}
.modal-info {
    display: flex;
    flex-direction: column;
}

.price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: right;
    padding: 4px;
    margin: 6px;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 4px;
}
@media (min-width: 800px) {
    .products-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 5px;
        margin: 5px 15px 5px 15px;
    }
    
    .product-container {
        width: 250px;
        height: 500px;
        box-shadow: 3px 3px 3px #696464;
        margin: 5px 15px 5px 15px;
        border-radius: 7px;
    }
    
    .dash-img {
        position: relative;
        float: left;
        width:  100%;
        height: 60%;
        background-position: center center;
        background-repeat:   no-repeat;
        overflow: hidden;
        border-radius: 7px;
        
    }
    .dash-img:hover {
        box-shadow: 5px 5px 5px #696464;
        cursor: pointer;
    }

    .profile-img {
        height: 120px;
        width: 100px;
        border-radius: 50%;
    }
    
    .baker-info {
        width: 250px;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }   
}

.order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}