* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  height: 10vh;
  background-color: #992e24;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #e9e5dd;
  margin-left: 5%;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.login-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  background-color: #992e24; 
  color: #e9e5dd;
  padding: 2px; 
}
.fa-bars {
  width: 40px;
  font-size: 26px;
  border: none;
  
}
.fa-bars > button {
  margin-right: 10%;
  border: none;
  
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 5px 5px;
}
#signup-info > p {
  padding: 5px;

}
.signup-inputs {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px;
}

input {
  border: .1rem solid gray ;
  height: 20px;
  width: 120px;
}
.signup-inputs > p {
  margin-right: 5px;
}
#extra-signup-info {
  position: absolute;
  bottom: 10px;
  left: 20px;
} 