* {
  margin: 0;
  padding: 0;
}

.header {
  height: 10vh;
  background-color: #f4dada;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: black;
  margin-left: 5%;
}
.login-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  font-weight: 900;
  background-color: #dbe9b7; 
  color: black;
  border: solid black;
  padding: 2px;
  margin-right: 7%;
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  margin: 5px 0 5px 5px;
}
#signup-info > p {
  padding: 5px;

}
.signup-inputs {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px;
}

input {
  border: .1rem solid gray ;
  height: 20px;
  width: 120px;
}
.signup-inputs > p {
  margin-right: 5px;
}
#extra-signup-info {
  position: absolute;
  bottom: 10px;
  left: 20px;
} 